.form-control {
  height: 40px;
}

.form-control input[type=password], 
.form-control input[type=email] {
  padding: 8px 10px;
}

.btn-submit {
  width: 100%;
  padding: 12px 30px;
  background: $blue;
  color:      white;
  font-size: 1.75rem;

  &:hover {
    color: white;
    background: lighten($blue, 7%);
  }
}

.btn-cancel {
  width: 100%;
  padding: 12px 30px;
  margin-top: 10px;
  color: $grey;
  background: $beige;
  border:none;
  font-size: 1.75rem;
}

// removing yellow background on input fields
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      border: 1px solid $blue;
    }
}



// Signin
#signin {
  display: block;
  width: 350px !important;
  height: auto !important;
  margin: 100px auto;

  text-align: center;

  h4 {
    padding-bottom: 20px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid $light-grey;
    color: $dark-blue;
    
  }

  .error-msg {
    color: $red;
  }
  
}

