$dark-brown:      #583426;
$brown:           #8b4618;
$light-brown:     #CFB9B2;

$grey:            #777;
$light-grey:      #ddd;

$blue:            #77abda;
$dark-blue:       #1D556F;
$beige:           #EFDDB2;
$red:             #e86554;
$green:           #79DC96;

$orange:          #ce8a47;

